body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header {
    background-color: #651404;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 3px solid white;

}
.container {
    display: flex;
    height: 500px;
}
.map {
    flex: 1;
    height: 150%;

}
/*панель атрибутов вместе с кнопкой*/
.sidebar {
    width: 300px;
    background-color: rgb(251, 251, 251);
    border-left: 1px solid;
    padding: 10px;
    overflow-y: auto;
    height: 700px;
    display: grid;
    grid-template-rows: auto auto auto; /* 3 секции */
    gap: 10px;
}

.sidebar-top {
    grid-row: 1; /* Верхняя часть - атрибуты */
}

.sidebar-middle {
    grid-row: 2; /* Средняя часть - форма выбора района */
}

.sidebar-bottom {
    grid-row: 3; /* Нижняя часть - кнопки */
}


.buttons-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*отображение панели слоев*/
.layers {
    width: 278px;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid;
    padding: 10px;
    overflow-y: auto;
    height: 700px;
}
h3 {
    text-align: center;
}
.img {
    width: 63px;
}

.img1 {
    width: 160px;
    margin-top: 3px;
    }

.img2 {
    width: 195px;
    margin-top: 3px;
    }
.img3 {
    width: 286px;
    height: 17px;
    margin-top: 3px;
    }
.img14 {
    width: 14px;
    margin-left: 10px;
}
.img7 {
    width: 130px;
    margin-left: 50px;
}
.map {
    position: relative;
}
/*это панелька сворачивания-разворачивания*/
.par11 {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}
.layer-group {
    margin-bottom: 0px;
}

.triangle {
    cursor: pointer;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.triangle.open {
    transform: rotate(90deg);
}

.layers-content {
    display: none; /* Скрываем содержимое по умолчанию */
    margin-left: 0px;
}


.sidebar-middle select,
.sidebar-middle button {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

#scalesList {
    list-style-type: none;
    padding: 0;
}

#scalesList li {
    background: #ddd;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.bottom-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#controls {
    padding: 10px;
    background: #f2f2f2;
    text-align: center;
    margin: 0;
}
.timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  
  #yearRange {
    width: 100%;
  }
  
  #yearLabels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 14px;
  }

footer {
    width: 100%;
    text-align: center;
    background-color: #651404;
    color: #fff;
    padding: 10px;
    margin: 0;
}
.crop{
    margin-top: 1px;
    margin-bottom: 1px;
}